
*{
  

	margin: 0;
	padding: 0;
}
body{
	font-family: monospace;

    
}
header{
background-image:url(aa.jpeg);
height: 100vh;
background-size: 100%;


}
.container{
	width: 1200px;
	margin: auto;
}
.logo img {
	width: 100px;
	height: auto;
	margin: 10px 0;





}
.nav-main{

	float:right;

	margin-top: 30px;


}
.nav-main li {
	list-style: none;
	display:inline-block;
	margin-right: 20px;

}
.nav-main li :hover{
	border: 1px solid #fff;

	background-color: rgba(255,255,0,0.7);
}
.nav-main li a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 10px;
  text-transform: uppercase;
  color: white;


}
.nav-main li a.active{
	border: 1px solid  #fff;
}
.titlehed{
    width: 1200px;
	position: absolute;
	margin: 0;
	padding: 0;
    text-align: center;

}
h1{

	text-transform: uppercase;
	font-family:"Roboto",sans-serif;
	font-size: 50px;
	margin-top:280px;
	color: white;
	

}


.btn{
	padding: 20px 20px;
	border: 1px solid #fff;
	margin-right: 5px;
	margin-top: 20px;
	font-style: italic;
	
}
.btn-one{

background-color: #33ff99;
}
.btn-two:hover{
	background-color: #33ff99;
}
.buttons p {
	padding: 40px;
	color: green;

}

i{
color:#ffff00;

}
.buttons a {
	text-decoration: none;
	color: #fff;
}





}
/*.cha{


    background-color: red;
     margin: 100px;
     padding: 200px;
    



}
.cc{
	text-align: center;
	background-color: :green;

}

.nac{
	text-align: center;
	background-color:#fff;
	width: 500px;
	height: 200px;
	
	}*/